* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

button {
  cursor: pointer;
  font-size: 16px;
  transition: filter 0.2s ease-out;
}

input {
  font-size: 16px;
}

button:hover {
  filter: brightness(0.9);
}

.yellow {
  background-color: #f9ba18;
}

.blue {
  background-color: #00d5e2;
}

.red {
  background-color: #ea5d5d;
}

.green {
  background-color: #2fc18c;
}

.purple {
  background-color: #8958a3;
}

.invisible {
  visibility: hidden;
}

.login {
  align-items: center;
  background-image: linear-gradient(180deg, #3c1b7a 0%, black 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 150px;
  padding-top: 16px;
}

.login-form {
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 16px;
  max-width: 614px;
  padding: 48px;
  width: 100%;
}

.login-form input {
  background: white;
  border: 1px solid #e1e5eb;
  padding: 12px;
}

.login-form button {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 700;
  padding: 12px;
}

.login-form button:first-of-type {
  background: #2fc18c;
  text-transform: uppercase;
}

.login-form button:last-of-type {
  align-items: center;
  background: #35906f;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 113px;
  justify-content: flex-end;
  padding-right: 100px;
}

.header > div {
  display: flex;
  justify-content: space-between;
  width: 330px;
}

.header-profile {
  align-items: center;
  display: flex;
  gap: 12px;
}

.header-profile > img {
  border-radius: 100%;
  height: 37px;
  width: 37px;
}

.header-score {
  align-items: center;
  display: flex;
  gap: 12px;
}

.container {
  background-image: linear-gradient(180deg, #3c1b7a 0%, black 100%);
  height: 100vh;
}

.game {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
}

.game > div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  transform: translateY(-100px);
}

.game-question {
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  margin-top: 48px;
  padding: 0 12px 12px;
  text-align: center;
  width: 440px;
}

.question-category {
  border-radius: 100px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  height: 50px;
  letter-spacing: 1.92px;
  line-height: 150%;
  margin: auto;
  padding: 13px;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.question-text {
  align-items: center;
  display: flex;
  height: 138px;
  justify-content: center;
  margin-bottom: 16px;
}

.question-time {
  align-items: center;
  color: #ea5d5d;
  display: flex;
  font-weight: 700;
  gap: 8px;
  justify-content: center;
  letter-spacing: 1.92px;
}

.game-answers {
  gap: 10px;
  height: 400px;
  justify-content: flex-end;
  margin-top: 200px;
}

.answer-content {
  align-items: center;
  background-color: white;
  border: 3px solid transparent;
  border-radius: 100px;
  color: black;
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  padding: 9px;
  width: 550px;
}

.answer-content.red {
  border-color: red;
  box-shadow: 0 0 20px 1px #ea5d5de5;
}

.answer-content.red > span {
  background-color: #ea5d5d;
}

.answer-content.green {
  border-color: rgb(6, 240, 15);
  box-shadow: 0 0 20px 1px #2fc18ce5;
}

.answer-content.green > span {
  background-color: #2fc18c;
}

.answer-alternative {
  align-items: center;
  background-color: #ddd;
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  height: 46px;
  justify-content: center;
  width: 46px;
}

.next-btn {
  background-color: #2fc18c;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 1.92px;
  padding: 12px;
  text-transform: uppercase;
  width: 550px;
}

.feedback {
  align-items: center;
  background-image: linear-gradient(180deg, #3c1b7a 0%, black 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5vh;
}

.feedback-avatar {
  background-color: gainsboro;
  border: 4px solid;
  border-radius: 104.412px;
  height: 212px;
  margin-top: -40%;
  width: 212px;
}

.feedback-card {
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  margin-top: 148px;
  padding: 0 46px 46px;
  text-align: center;
}

.feedback-card.green .feedback-avatar {
  border-color: #2fc18c;
  box-shadow: 0 0 9px 0 #2fc18c;
}

.feedback-card.red .feedback-avatar {
  border-color: #ea5d5d;
  box-shadow: 0 0 9px 0 #ea5d5d;
}

.feedback-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
  margin: 16px 0;
  text-align: center;
  text-transform: uppercase;
}

.feedback-card.green .feedback-text {
  color: #2fc18c;
}

.feedback-card.red .feedback-text {
  color: #ea5d5d;
}

.feedback-score {
  color: #b5b5b5;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}

.feedback-action {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  width: 420px;
}

.btn-feedback {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  flex: 1;
  font-weight: 700;
  letter-spacing: 1.92px;
  line-height: 150%;
  padding: 8px;
  text-align: center;
}
