* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.answer-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 330px;
}

.answer-options > button {
  border: 3px solid;
  cursor: pointer;
}

.answer-options > .correct-answer {
  border-color: rgb(6, 240, 15);
}

.answer-options > .wrong-answer {
  border-color: red;
}
